<div layout="row" layout-align="center center">
  <md-card md-theme="game">
    <md-card-title>
      <md-card-title-media>
        <div class="md-media-sm card-media layout-row">
          <i class="fa fa-gamepad" style="font-size: 64px"></i>
        </div>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline">Xsolve Workshops</span>
        <span class="md-subhead description ng-binding">BattleShip JavaScript game.</span>
        <span class="md-subhead description ng-binding">Get ready for mystic journey on deep sea.</span>
      </md-card-title-text>
    </md-card-title>
  </md-card>
</div>
